{% extends 'platillaAdmin.html' %}

{% block body%}

<div class="mt-5 mb-5"><h1 class="display-1 text-center">Inicio</h1></div>

    <div class="container text-center">
        {% with mensajes= get_flashed_messages() %}
        {%if mensajes %}
            {% for msj in mensajes %}
    
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                <strong>{{msj}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            
              <script>Swal.fire('Success', 'Registro Completado','success')</script>
              
            {% endfor %}
        {% endif %}
        {% endwith %}

        
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div>
                <h1 class="text-center">Pacientes</h1>
                <table class="table" id="table">
                <thead>
                    <tr class="table-success">
                        <th scope="col">Id</th>
                        <th scope="col">Médico</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Enfermedades crónicas</th>
                        <th scope="col">Alergias</th>
                        <th scope="col">Antecedentes</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Expedientes</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for ruta in lsConsulta %}
                    <tr>
                        <td>{{ruta.0}}</td>
                        <td>{{ruta.1}}</td>
                        <td>{{ruta.2}}</td>
                        <td>{{ruta.3}}</td>
                        <td>{{ruta.4}}</td>
                        <td>{{ruta.5}}</td>
                        <td>{{ruta.6}}</td>
                        <td>
                            <a  href="/editar/{{ruta.0}}" class="btn btn-secondary"><i class="bi bi-pencil-fill"></i></a>
                            
                        </td>
                        <td>
                            
                        <a data-bs-toggle="modal" data-bs-target="#DesactivarR" class="btn btn-danger" data-record-id="{{ ruta[0] }}"><i class="bi bi-x-circle"></i></a>
                        
                        {% set vairable = ruta.0 %}
                        <div class="modal fade" id="DesactivarR" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Desactivar Ruta</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Está seguro que desea desactivar este usuario?
                                    </div>
                                    <div class="modal-footer">
                                    <a class="btn btn-danger" id="confirm-delete">Sí</a>    
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>   
                                    
                        
                        </td>
                        <td><a class="btn btn-primary" href="/expedientePacientes/{{ruta.0}}"><i class="bi bi-archive-fill"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                
                </table>    
    
            </div>
            
    
    
        </div>
    </div>
    <script>
const modal = document.getElementById('DesactivarR');
const confirmButton = document.getElementById('confirm-delete');
const deleteButtons = document.querySelectorAll('.delete-button');

let targetRow;

deleteButtons.forEach(button => {
    button.addEventListener('click', (event) => {
      targetRow = event.target.closest('tr');
      modal.style.display = 'flex';
    });
  });

  confirmButton.addEventListener('click', () => {
    if (targetRow) {
      const recordId = targetRow.querySelector('.delete-button').getAttribute('data-record-id');
      fetch('/delete/${recordId}', {
        method: 'POST'
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          targetRow.remove();
          modal.style.display = 'none';
        } else {
          console.error('Error al eliminar el registro');
        }
      });
    }
  });
    </script>

{% endblock %}
