{% extends 'plantilla.html' %}

{% block body%}

<div class="mt-5 mb-5"><h1 class="display-1 text-center">Registro de Pacientes</h1></div>

    
    

<div class="container">

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card card-body mb-5">
            <h1 class="text-center">Ingresar Paciente</h1>
            <form action="/guardarPacientes" method="POST">
                <div class="mb-3">
                    <label class="label">Médico</label>
                    <select class="form-select" name="Medico" id="">
                            <option selected>Seleccione un médico</option>
                        {% for rut in lsRegistro %}
                            <option value="{{rut.0}}">{{rut.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="label">Paciente</label>
                    <input type="text" class="form-control" name="txtNombre" placeholder="Nombre" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="txtAP" placeholder="Apellido Paterno" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="txtAM" placeholder="Apellido Materno" required>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="date" name="txtNacimiento" placeholder="Fecha de Nacimiento" required>                        
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="txtEnfermedades" placeholder="Enfermedades Crónicas" required>                        
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="txtAlergias" placeholder="Alergias" required>                        
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="txtAntecedentes" placeholder="Antecedentes" required>                        
                </div>
                <div class="d-grid gap-2"><button type="submit" class="btn btn-outline-primary">Guardar</button></div>
        
            </form>
        </div>
    </div>
</div>
</div>
    

{% endblock %}