

{% extends 'plantilla.html' %}

{% block body%}

    <div class="mt-5 mb-5"><h1 class="display-1 text-center">Album a editar</h1></div>

    <div class="container">
        <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
            <div class="card card-body mb-5">
            <form action="/actualizar/{{album.0}}" method="POST">
            <div class="mb-3"><input type="text" class="form-control mb-2" name="txtTitulo" value="{{album.1}}"></div>
            <div class="mb-3"><input type="text" name="txtArtista" class="form-control mb-2" value="{{album.2}}"></div>
            <div class="mb-3"><input type="number" name="txtAnio" value="{{album.3}}" class="form-control mb-2"></div>
            <button type="submit" class="btn btn-outline-primary mb-2">Actualizar</button>
        </form>
        <form action="/"><button type="submit" class="btn btn-outline-secondary">Regresar</button></form>
    </div>    
    </div>
    </div>
</div>
{% endblock %}