
{% extends 'plantilla.html' %}

{% block body%}

        
    
    <div class="mt-5 mb-5"><h1 class="display-1 text-center">Gestion de Albums</h1></div>

    
    

    <div class="container">
    {% with mensajes= get_flashed_messages() %}
        {%if mensajes %}
            {% for msj in mensajes %}

            <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
                <strong>{{msj}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            
              <script>Swal.fire('Veamos!', 'Prueba Nueva','success')</script>
              
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-md-5">
            <div class="card card-body mb-5">
                <h1>Ingresar Album</h1>
                <form action="/guardar" method="POST">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="txtTitulo" placeholder="Escribe Titulo" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="txtArtista" placeholder="Escribe Artista" required>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="number" name="txtAnio" placeholder="Escribe Año" required>                        
                    </div>
                    <div class="d-grid gap-2"><button type="submit" class="btn btn-outline-primary">Guardar</button></div>
            
                </form>
            </div>
        </div>

        <div class="col-md-7 mb-5">
            <h1>Albums Guardados</h1>
            <table class="table table-striped">
            <thead>
                <tr class="table-dark">
                    <td>Id: </td>
                    <td>Album: </td>
                    <td>Artista: </td>
                    <td>Año Publicación: </td>
                    <td></td>
                    
                </tr>
            </thead>


            <tbody>
                {% for alb in albums %}
                <tr>
                <td>{{alb.0}} </td>
                <td>{{alb.1}} </td>
                <td>{{alb.2}} </td>
                <td>{{alb.3}} </td>
                <td>
                    <a href=/editar/{{alb.0}} class="btn btn-outline-warning"><i class="bi bi-pencil-fill"></i></a>
                    <a href=/eliminar/{{alb.0}} class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                </td>
                </tr>
                 {%endfor%}

            </tbody>

        </table>
    </div>
</div>
</div>



{% endblock %}
